<footer class="site-footer">
    <div class="inner">
        <p class="sf-copyright">© {{ ("now"|date("Y") != '2017') ? '2017 - ' : '' }}{{ "now"|date("Y") }} | www.melissa-aubert-sophrologie.fr</p>
    </div>
</footer>
