<footer class="site-footer section fp-noscroll fp-auto-height">
    <div class="inner">
        <p class="sf-copyright">© {{ ("now"|date("Y") != '2017') ? '2017 - ' : '' }}{{ "now"|date("Y") }} | www.melissa-aubert-sophrologie.fr</p>
        <p class="sf-lnks">
            <a href="legal-notice" class="sf-lnk" title="Mentions légales" target="_blank">Mentions légales</a>
        </p>
    </div>
</footer>
