<nav class="site-navigation">
    <ul class="sn-list">
        <li class="sn-itm active" data-menuanchor="accueil">
            <a href="#accueil" class="sn-lnk">Accueil</a>
        </li>
        <li class="sn-itm" data-menuanchor="la-sophrologie">
            <a href="#la-sophrologie" class="sn-lnk">La sophrologie</a>
        </li>
        <li class="sn-itm" data-menuanchor="accompagnements">
            <a href="#accompagnements" class="sn-lnk">Quels accompagnements</a>
        </li>
        <li class="sn-itm" data-menuanchor="qui-suis-je">
            <a href="#qui-suis-je" class="sn-lnk">Qui suis-je ?</a>
        </li>
        <li class="sn-itm" data-menuanchor="contact">
            <a href="#contact" class="sn-lnk">Contact</a>
        </li>
    </ul>
</nav>
<div class="menu-burger">
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
</div>
