/***************************************/

.sc-contact
    position                            relative
    width                               100%
    height                              100vh
    overflow                            hidden
    background-color                    $color2

.scc-background
    opacity                             0
    transform                           scale( 1.5 )
    transition5()

    &.animated
        opacity                         1
        transform                       scale( 1.1 )

.scc-content
    position                            absolute
    z-index                             1
    top                                 50%
    left                                50%
    transform                           translate( -50%, -50% )
    width                               60%
    min-width                           $innerWidth

.scc-title-1
    display                             block
    margin-bottom                       45px
    font-size                           4.5rem
    color                               $color2
    text-align                          center
    text-transform                      uppercase
    font-l()
    opacity                             0
    transition2()

    &.animated
        opacity                         1

.scc-form
    max-width                           480px
    margin                              0 auto
    opacity                             0
    transform                           scale( 0.8 )
    transition5()

    &.animated
        opacity                         1
        transform                       scale( 1 )

.contact-form
    width                               100%
