/***************************************/

.sc-whoami
    position                            relative
    width                               100%
    height                              100vh
    overflow                            hidden
    background-color                    $color2

.scw-content
    position                            absolute
    z-index                             1
    top                                 50%
    left                                50%
    transform                           translate( -50%, -50% )
    width                               60%
    min-width                           $innerWidth

.scw-title-1
    display                             block
    margin-bottom                       45px
    font-size                           4.5rem
    color                               $color3
    text-align                          center
    text-transform                      uppercase
    font-l()
    opacity                             0
    transition2()

    &.animated
        opacity                         1

.scw-top
    clearfix()
    opacity                             0
    transform                           translateY( -30px )
    transition2()

    &.animated
        opacity                         1
        transform                       translateY( 0 )

.scw-paragraph
    float                               left
    width                               70%
    margin-bottom                       20px
    color                               $color3
    font-size                           1.4rem
    line-height                         1.6

    .lnk
        color                           $color3
        font-size                       1.4rem
        text-decoration                 underline
        font-b()

        &:hover
            color                       $color4

.scw-img
    position                            relative
    float                               right

    &:before
        content                         ""
        display                         block
        position                        absolute
        z-index                         -1
        top                             10px
        left                            -@top
        width                           100%
        height                          100%
        background-color                $color3

.scw-photo
    float                               right
    max-width                           245px
    max-height                          374px
    width                               100%

.scw-bottom
    margin-top                          50px
    margin-bottom                       40px
    opacity                             0
    transform                           translateY( 30px )
    transition2()

    &.animated
        opacity                         1
        transform                       translateY( 0 )

.scw-list
    position                            relative
    display                             block

    &:before
        content                         "\f19c"
        position                        absolute
        z-index                         -1
        top                             50%
        left                            @top
        transform                       translate( -50%, -50% )
        font-family                     "FontAwesome"
        font-size                       15rem
        color                           rgba( $color5, 0.3 )

.scw-itm
    color                               $color3
    font-size                           1.4rem
    line-height                         1.6
    text-align                          center
    font-sb()


/* Mediaqueries Mobile (639px) */
@media all and ( max-width: $smallScreenContentMinWidth )

    .sc-whoami
        overflow                        visible

    .scw-content
        position                        relative
        top                             inherit
        left                            inherit
        transform                       inherit
        width                           90%
        min-width                       inherit
        margin                          0 auto

    .scw-title-1
        display                         block
        margin-top                      17px
        margin-left                     20px
        font-size                       2.3rem


    .scw-paragraph
        float                           none
        width                           100%

    .scw-img
        float                           none
        width                           90%
        margin                          0 auto

    .scw-photo
        float                           none
        max-width                       inherit
        max-height                      inherit

    .scw-bottom
        margin-bottom                   80px
