$color1                                 = #000000
$color2                                 = #ffffff
$color3                                 = #1b7491
$color4                                 = #124b5e
$color5                                 = #bfd8e0

$errorColor                             = #cf4343
$successColor                           = #3c763d
$backgroundSuccessColor                 = #DFF0D8
