font-1()
    font-family                        'Open Sans', sans-serif
    font-weight                         400

font-2()
    font-family                        'Champagne et Limousines', sans-serif
    font-weight                         400

font-ri()
    font-style                          italic
    font-weight                         400

font-l()
    font-weight                         300

font-li()
    font-style                          italic
    font-weight                         300

font-sb()
    font-weight                         600

font-sbi()
    font-style                          italic
    font-weight                         600

font-b()
    font-weight                         700

font-bi()
    font-style                          italic
    font-weight                         700

font-eb()
    font-weight                         800
