/***************************************/

.site-footer
    background-color                    $color3
    padding                             25px 0

    .inner
        text-align                      center

.sf-copyright
    display                             inline-block
    padding                             15px 0
    color                               $color2
    text-align                          center
    font-size                           1.4rem
    font-l()

.sf-lnks
    display                             inline-block
    margin                              0 5px
    font-size                           1.4rem
    font-l()

.sf-lnk
    color                               $color2
    margin-right                        10px

    &:before
        content                         "-"
        display                         inline-block
        position                        relative
        color                           $color2
        margin-right                    10px

    &:hover
        text-decoration                 underline


/* Mediaqueries Mobile (639px) */
@media all and ( max-width: $smallScreenContentMinWidth )

    .sf-copyright
        font-size                       1.2rem
        padding                         0 0 15px 0

    .sf-lnks
        font-size                       1.2rem

    .sf-lnk:nth-child(1)
        &:before
            content                     none
