/*
                                                          Champagne & Limousines
    Regular (400)
    Regular Italic (400)
    Bold (700)
    Bold Italic (700)
*/

@font-face
    font-family                          'Champagne et Limousines'
    font-display                         optional
    src                                  url( $fontsUrl + 'champagne-limousines-webfont.woff2' ) format( 'woff2' ), url( $fontsUrl + 'champagne-limousines-webfont.woff' ) format( 'woff' ), url( $fontsUrl + 'champagne-limousines-webfont.ttf' ) format( 'truetype' )
    font-style                           normal
    font-weight                          400

@font-face
    font-family                          'Champagne et Limousines'
    font-display                         optional
    src                                  url( $fontsUrl + 'champagne-limousines-italic-webfont.woff2' ) format( 'woff2' ), url( $fontsUrl + 'champagne-limousines-italic-webfont.woff' ) format( 'woff' ), url( $fontsUrl + 'champagne-limousines-italic-webfont.ttf' ) format( 'truetype' )
    font-style                           italic
    font-weight                          400

@font-face
    font-family                          'Champagne et Limousines'
    font-display                         optional
    src                                  url( $fontsUrl + 'champagne-limousines-bold-webfont.woff2' ) format( 'woff2' ), url( $fontsUrl + 'champagne-limousines-bold-webfont.woff' ) format( 'woff' ), url( $fontsUrl + 'champagne-limousines-bold-webfont.ttf' ) format( 'truetype' )

    font-style                           normal
    font-weight                          700

@font-face
    font-family                          'Champagne et Limousines'
    font-display                         optional
    src                                  url( $fontsUrl + 'champagne-limousines-bold-italic-webfont.woff2' ) format( 'woff2' ), url( $fontsUrl + 'champagne-limousines-bold-italic-webfont.woff' ) format( 'woff' ), url( $fontsUrl + 'champagne-limousines-bold-italic-webfont.ttf' ) format( 'truetype' )

    font-style                           italic
    font-weight                          700
