{% extends 'base.html.twig' %}

{% block global_content %}

    <div id="main">
        {% block header %}
            {% include 'partials/header.html.twig' %}
        {% endblock header %}
        <div class="site-mask">&nbsp;</div>
        {% block content '' %}
    </div>

{% endblock global_content %}
